.recipes {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--cultured);
}

.recipes-container {
   /* max-width: 1400px; */
   flex: 9;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin: auto;
}
.no-recipes-msg {
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 5rem;
}

.loading-spinner-container {
   display: flex;
   flex-direction: column;
}
