:root {
   /* CSS HEX */
   --black: #000000ff;
   --tan-crayola: #dd9b75ff;
   --eggshell: #ebe2c8ff;
   --jonquil: #facb0cff;
   --cultured: #f8f8f8ff;
   --red-orange-color-wheel: #fd4c08ff;
   --bitter-lemon: #c4d806ff;
   --dark-grey: #5c5c5c;

   --tenne-tawny: #cf5c1dff;
}
